# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

// ignore build folder and .vs folder
MuOnlineLauncher/build/
MuOnlineLauncher/.vs
MuOnlinelauncher/Libs/cryptopp/cryptopp/TestData/
MuOnlinelauncher/Libs/cryptopp/cryptopp/TestPrograms/
MuOnlinelauncher/Libs/cryptopp/cryptopp/TestVectors/
MuOnlinelauncher/Libs/cryptopp/cryptopp/Win32/
MuOnlinelauncher/Libs/cryptopp/cryptopp/x64/